:root {
  --font-basic: #1f1e25;
  --font-additional: #707c87;
  --font-light: #e0e1ea;
  --basic: #f6f7ff;
  --background-basic: #ffffff;
  --basic-contrast: #2c36f2;
  --gradient-contrast-dark: #2027b3;
  --gradient-contrast-light: #3841ff;
  --basic-decorative: #c1c2ca;
    }