:root {
  --font-basic: #1f1e25;
  --font-additional: #707c87;
  --font-light: #e0e1ea;
  --font-dark: #2B3C4F;
  --basic: #f6f7ff;
  --background-basic: #ffffff;
  --basic-contrast: #2c36f2;
  --gradient-contrast-dark: #2027b3;
  --gradient-contrast-light: #3841ff;
  --gradient-grey-dark: #dde2ec;
  --gradient-grey-light: #f1f7ff;
  --gradient-blue-dark: #e6f1fe;
  --gradient-blue-light: #eff4fd;
  --basic-decorative: #c1c2ca;
  --transparent: rgba(0, 0, 0, 0.5);
    }