.auth {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;

  width: 100%;
  min-height: 100%;

  background-color: var(--transparent);

  overflow: hidden;
}

.auth__popup {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 544px;
  height: 493px;

  margin: auto;
  padding-top: 55px;
  padding-right: 56px;
  padding-bottom: 51px;
  padding-left: 56px;

  background-color: var(--basic);

  border: 4px solid var(--basic-contrast);

  @media (max-width: $max-tablet-width) {
    width: 678px;

    padding-right: 88px;
    padding-left: 88px;
  }

  @media (max-width: $max-mobile-width) {
    width: 290px;
    height: 455px;

    padding-top: 43px;
    padding-right: 16px;
    padding-bottom: 50px;
    padding-left: 16px;
  }
  
}

.auth__logo {
  align-self: flex-start;

  margin-bottom: 39px;

  @media (max-width: $max-mobile-width) {
    margin-bottom: 29px;
  }
}

.auth__close {
  position: absolute;
  top: 55px;
  right: 55px;

  width: 18px;
  height: 18px;

  background-image: url("../../img/popup-close-desktop-tablet.svg");
  background-repeat: no-repeat;

  @include no-style-button;
  @include opacity-on-hover;

  @media (max-width: $max-tablet-width) {
    right: 82px;
  }

  @media (max-width: $max-mobile-width) {
    top: 43px;
    right: 15px;

    width: 14px;
    height: 14px;

    background-image: url("../../img/popup-close-mobile.svg");
  }
}