.branches {
  @include container;

  display: flex;
  flex-direction: column;

  margin-bottom: 95px;

  @media (max-width: $max-tablet-width) {
    margin-bottom: 73px;
  }

  @media (max-width: $max-mobile-width) {
    margin-bottom: 53px;
  }
}

.branches__heading {
  margin: 0;
  margin-bottom: 70px;

  font-size: 41px;
  line-height: 57px;

  @media (max-width: $max-tablet-width) {
    margin-bottom: 45px;

    font-size: 32px;
    line-height: 45px;
  }

  @media (max-width: $max-mobile-width) {
    margin-bottom: 35px;

    font-size: 22px;
    line-height: 31px;
  }
}

.branches__map-wrapper {
  @media (max-width: 1365px) {
    width: 85.65vw;
  }

  @media (max-width: $max-tablet-width) {
    width: 100%;
    min-width: 768px;
  }

  @media (max-width: $max-mobile-width) {
    align-self: center;

    margin-right: -15px;
    margin-left:  -16px;
    width: 100%;
    min-width: 320px;
  }
}

