.calculator {
  @include container;
  margin-bottom: 100px;
}

.tooltip {
  position: absolute;
  display: block;
  color: black;
  // padding: 20px;
  background-color: #fff;
  width: 37px;
  height: 26px;
  top: 0;
  left: -3px;
  // vertical-align: middle;
  text-align: center;
}