.calculation {
  display: grid;
  grid-template-areas: 
  "calculator-selection offer"
  "data-entry offer"
  "application application";
  grid-template-columns: 6fr 5fr;
  column-gap: 70px;

  @media (max-width: $max-tablet-width) {
    grid-template-areas: 
    "calculator-selection"
    "data-entry"
    "offer"
    "application";
    grid-template-columns: 1fr;
    column-gap: 0;
  }
}

.calculation__calculator-selection {
  grid-area: calculator-selection;
}

.calculation__data-entry {
  grid-area: data-entry;
}

.calculation__application {
  grid-area: application;
  margin: auto;
}

.calculation__offer {
  grid-area: offer;
  align-self: start;
}