.calculator-selection {
  margin-bottom: 32px;

  @media (max-width: $max-mobile-width) {
    margin-bottom: 25px;
  }
}

.calculator-selection__heading {
  margin-bottom: 30px;

  font-size: 22px;
  font-weight: 500;

  @media (max-width: $max-tablet-width) {
    margin-bottom: 20px;

    font-size: 18px;
    line-height: 25px;
  }

  @media (max-width: $max-mobile-width) {
    margin-bottom: 14px;

    font-size: 16px;
    line-height: 22px;
  }
}
