.contacts {
  position: relative;

  padding-top: 11px;

  display: flex;
  justify-content: space-between;

  @media (max-width: $max-tablet-width) {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.contacts__short-number {
  margin-right: 67px;

  @media (max-width: $max-tablet-width) {
    margin-right: 0;
    margin-bottom: 25px;
    padding-left: 19px;
  }

  @media (max-width: $max-mobile-width) {
    margin-right: 0;
    margin-bottom: 18px;
    padding-left: 29px;
  }

  &::before {
    content: "";
    position: absolute;

    top: 11px;
    left: -28px;

    width: 10px;
    height: 16px;

    background-image: url("../../img/short-tel-icon.svg");

    @media (max-width: $max-tablet-width) {
      top: 11px;
      left: -12px;
    }

    @media (max-width: $max-mobile-width) {
      top: 13px;
      left: 0px;
    }
  }
}

.contacts__full-number {
  @media (max-width: $max-tablet-width) {
    margin-right: 0;
    margin-bottom: 27px;
    padding-left: 22px;
  }

  @media (max-width: $max-mobile-width) {
    margin-bottom: 20px;
    padding-left: 33px;
  }

  &::before {
    content: "";
    position: absolute;

    top: 11px;
    left: 248px;

    width: 16px;
    height: 16px;

    background-image: url("../../img/full-tel-icon.svg");

    @media (max-width: $max-tablet-width) {
      top: 92px;
      left: -11px;
    }

    @media (max-width: $max-mobile-width) {
      top: 86px;
      left: 0px;
    }
  }
}