.cost-amount {
  position: relative;
  display: flex;
  flex-direction: column;
}

.cost-amount__label {
  margin-bottom: 8px;

  font-size: 16px;
  line-height: 22px;
}

.cost-amount__input {
  @include calculator-input;

  width: 100%;
  margin-bottom: 6px;
}

.cost-amount__button {
  @include no-style-button;
  @include opacity-on-hover;

  position: absolute;

  width: 16px;
  height: 16px;
  
  background-repeat: no-repeat;
  background-position: 0 0;

  cursor: pointer;

  &--minus {
    top: 58px;
    left: 25px;
    background-image: url(../../img/minus-icon.svg);
  }

  &--plus {
    top: 52px;
    right: 25px;
    background-image: url(../../img/plus-icon.svg);
  }
}

.cost-amount__hint {
  margin-bottom: 21px;

  font-size: 14px;
  line-height: 20px;
  color: var(--font-additional);

  @media (max-width: $max-tablet-width) {
    margin-bottom: 16px;
  }

  @media (max-width: $max-mobile-width) {
    margin-bottom: 12px;
  }
}



