.data-entry__heading {
  margin: 0;
  margin-bottom: 17px;

  font-size: 22px;
  font-weight: 500;
  line-height: 31px;

  @media (max-width: $max-tablet-width) {
    margin-bottom: 16px;

    font-size: 18px;
    line-height: 25px;
  }

  @media (max-width: $max-mobile-width) {
    margin-bottom: 9px;

    font-size: 16px;
    line-height: 22px;
  }
}