.dots {
  display: flex;
  align-self: center;
}

.dots__dot {
  width: 8px;
  height: 8px;

  background-color: var(--gradient-contrast-dark);

  border-radius: 50%;

  z-index: 1;

  &:not(:last-child) {
    margin-right: 8px;
  }

  &--active {
    background-color: var(--background-basic);
  }

  @media (max-width: $max-mobile-width) {
    width: 6px;
    height: 6px;

    &:not(:last-child) {
      margin-right: 6px;
    }
  }
}