.footer-navigation {
  margin-right: 23px;
  padding-top: 9px;
}

.footer-navigation__list {
  display: flex;
  flex-direction: column;

  @include no-style-list;
}

.footer-navigation__item {
  margin-bottom: 13px;
}

.footer-navigation__link {
  color: inherit;
  font-weight: 500;
  text-decoration: none;

  @include opacity-on-hover;
}