.header {
  padding-top: 27px;
  padding-bottom: 35px;

  background-color: var(--basic);
}

.header__container {
  display: flex;
  justify-content: flex-start;
  // justify-content: space-between; 
  align-items: baseline;

  @include container;
}

.header__logo {
  margin-right: 109px;
  // margin-right: 8vw;

  @media (max-width: $before-max-desktop-width) {
    margin-right: 8vw;
  }

  @media (max-width: $max-tablet-width) {
    margin-right: 50px;
  }
}

.header__navigation {
  margin-right: 218px;

  @media (max-width: $before-max-desktop-width) {
    margin-right: 16vw;
  }

  @media (max-width: $max-tablet-width) {
    margin-right: 26px;
  }
}
