.header {
  padding-top: 27px;
  padding-bottom: 35px;

  background-color: var(--basic);

  @media (max-width: $max-tablet-width) {
    padding-top: 23px;
    padding-bottom: 24px;
  }

  @media (max-width: $max-mobile-width) {
    padding-top: 19px;
    padding-bottom: 18px;
  }
}

.header__container {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: baseline;

  @include container;

  @media (max-width: $max-mobile-width) {
    flex-direction: column;
    justify-content: space-between;
  }
}

.header__logo {
  // margin-right: 109px;

  // @media (max-width: $before-max-desktop-width) {
  //   margin-right: 8vw;
  // }

  @media (max-width: $max-tablet-width) {
    // margin-right: 50px;

    width: 134px;
    height: 24px;
  }

  @media (max-width: $max-mobile-width) {
    margin-right: 0;
    padding-left: 30px;

    width: 146px;
    height: 19px;
  }
}

// .header__navigation {
//   margin-right: 218px;

//   @media (max-width: $before-max-desktop-width) {
//     margin-right: 16vw;
//   }

//   @media (max-width: $max-tablet-width) {
//     margin-right: 26px;
//   }
// }
