.header-navigation {
  width: 100%;
}

.header-navigation__open {
  position: absolute;
  top: 6px;
  left: 17px;

  width: 16px;
  height: 16px;
  
  background-image: url("../../img/menu-icon-mobile.svg");
  background-repeat: no-repeat;

  @include no-style-button;
}

.header-navigation__close {
  position: absolute;
  top: 4px;
  right: 16px;
  
  width: 16px;
  height: 16px;
  
  background-image: url("../../img/menu-close-mobile.svg");
  background-repeat: no-repeat;

  @include no-style-button;
}


.header-navigation__list {
  display: flex;
  justify-content: flex-start;

  @include no-style-list;

  @media (max-width: $max-mobile-width) {
    flex-direction: column;
    

    background-color: var(--basic);
  }
}

.header-navigation__item {
  margin-right: 25px;

  &:nth-last-child(2) {
    margin-right: 218px;

    @media (max-width: $before-max-desktop-width) {
      margin-right: 16vw;
    }

    @media (max-width: $max-tablet-width) {
      margin-right: 26px;
    }
  }

  @media (max-width: $max-tablet-width) {
    margin-right: 20px;
  }

  @media (max-width: $max-mobile-width) {
    margin-right: 0;
    padding-top: 25px;
    padding-bottom: 24px;

    border-bottom: 1px solid var(--basic-decorative);

    &:first-child {
      border-top: 1px solid var(--basic-decorative);
    }
  }
}

.header-navigation__link {
  color: var(--font-basic);
  text-decoration: none;

  @include opacity-on-hover;

  &--active {
    color: var(--basic-contrast);
    cursor: auto;

    &:hover {
      opacity: 1;
    }
  }

  @media (max-width: $max-tablet-width) {
    font-size: 14px;
  }

  @media (max-width: $max-mobile-width) {
    font-size: 16px;
  }
}