.header {
  padding-top: 27px;
  padding-bottom: 35px;

  background-color: var(--basic);
}

.header__container {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;

  @include container;
}

.header__logo {
  margin-right: 109px;

  @media (max-width: $max-tablet-width) {
    margin-right: 50px;
  }
}

.header__navigation {
  margin-right: 218px;

  @media (max-width: $max-tablet-width) {
    margin-right: 26px;
  }
}
