.loan-data {
  @include no-style-list;

  display: flex;
  flex-direction: column;

  margin-bottom: 30px;
}

.loan-data__item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 14px;
  padding-bottom: 9px;

  border-bottom: 1px solid var(--font-light);
  border-radius: 4px;

  @media (max-width: $max-mobile-width) {
    flex-direction: column-reverse;
    align-items: flex-start;

    padding-top: 16px;
    padding-bottom: 12px;
  }
}

.loan-data__value {
  font-size: 22px;
  font-weight: 500;
  line-height: 31px;

  @media (max-width: $max-mobile-width) {
    font-size: 18px;
    line-height: 25px;
  }
}

.loan-data__name {
  @media (max-width: $max-mobile-width) {
    font-size: 16px;
    line-height: 22px;
  }
}