.main__promo {

  @media (max-width: 1365px) {
    // margin-right: -7.1vw;
    // margin-left: -7.1vw;
  }

  &--dark {
    background-color: var(--basic-contrast);
  }

  &--grey {
    background: linear-gradient(90deg, var(--gradient-grey-dark) 42%,var(--gradient-grey-light) 61%);
  }
  
  &--blue {
    background: linear-gradient(90deg, var(--gradient-blue-dark) 42%,var(--gradient-blue-light) 61%);
  }
}