.main__promo {
  &--dark {
    background-color: var(--basic-contrast);
  }

  &--grey {
    background: linear-gradient(90deg, var(--gradient-grey-dark) 42%,var(--gradient-grey-light) 61%);
  }
  
  &--blue {
    background: linear-gradient(90deg, var(--gradient-blue-dark) 42%,var(--gradient-blue-light) 61%);
  }
}