.offer-error {
  padding-top: 60px;
  padding-right: 92px;
  padding-bottom: 60px;
  padding-left: 58px;

  @media (max-width: $max-tablet-width) {
    padding-right: 268px;
  }

  @media (max-width: $max-mobile-width) {
    padding-top: 40px;
    padding-right: 22px;
    padding-bottom: 40px;
    padding-left: 15px;
  }
}

.offer-error__heading {
  margin: 0;
  margin-bottom: 25px;

  font-size: 22px;
  font-weight: 500;
  line-height: 31px;
}

.offer-error__text {
  margin: 0;
}
 