.offer {
  margin-top: 22px;
  background-color: var(--basic);

  @media (max-width: $max-tablet-width) {
    margin-bottom: 51px;
  }

  @media (max-width: $max-mobile-width) {
    margin-bottom: 48px;
  }
}



