.promo {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 400px;

  @include container;

  margin-bottom: 66px;

  padding-top: 115px;
  padding-left: 268px;
  padding-bottom: 40px;
}

.promo__container {
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: flex-start;
}

.promo__header {
  margin: 0;
  margin-bottom: 25px;

  font-size: 54px;
  font-weight: 700;

  z-index: 1;

  &--basic {
    color: var(--basic);
  }

  &--contrast {
    color: var(--font-basic);
  }
}

.promo__image {
  position: absolute;

  top: 0;
  left: 0;

  &--basic {
    background-color: var(--basic-contrast);
  }

  &--contrast {
    background-color: var(--font-light);
  }
}

.promo__description {
  margin: 0;
  margin-bottom: 40px;

  font-size: 22px;

  z-index: 1;

  &--basic {
    color: var(--font-light);
  }

  &--contrast {
    color: var(--font-dark);
  }
}

.promo__link {
  width: max-content;
  height: max-content;

  padding-top: 19px;
  padding-right: 36px;
  padding-bottom: 21px;
  padding-left: 36px;

  // margin-bottom: ;

  text-decoration: none;

  z-index: 1;

  &--basic {
    @include button-basic-style;
  }

  &--contrast {
    @include button-contrast-style;
  }
}