.promo__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include container;
  // width: 1024px;

  min-height: 400px;

  margin-bottom: 60px;
  padding-top: 125px;
  padding-left: 268px;
  padding-bottom: 40px;

  @media (max-width: 1365px) {
    padding-left: 19.6vw;
  }

  @media (min-width: $min-desktop-width) {
    // width: 1024px;
  }

  @media (max-width: $max-tablet-width) {
    width: 768px;
    min-height: 300px;

    margin-bottom: 0;

    padding-top: 83px;
    padding-left: 86px;
    padding-bottom: 15px;
  }

  @media (max-width: $max-mobile-width) {
    width: 320px;
    min-height: 226px;

    padding-top: 52px;
    padding-left: 15px;
    padding-bottom: 10px;
  }
}

.promo__details {
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: flex-start;
}

.promo__header {
  margin: 0;
  margin-bottom: 34px;

  font-size: 54px;
  font-weight: 700;

  z-index: 1;

  &--dark {
    color: var(--basic);
  }

  &--grey,
  &--blue {
    color: var(--font-basic);
  }

  @media (max-width: $max-tablet-width)  {
    margin-bottom: 21px;

    font-size: 46px;
  }

  @media (max-width: $max-mobile-width) {
    font-size: 38px;
  }
}

.promo__image {
  position: absolute;

  top: 0;
  left: 0;
  // left: calc(50vw - );

  @media (min-width: $min-desktop-width)  {
    // object-fit: cover;
    // right: 0;
  }

  @media (max-width: 1365px) {
    width: 100vw;
    object-fit: cover;
  }

  @media (max-width: $max-tablet-width) {
    width: auto;
    object-fit: none;
  }


  // &--basic {
  //   background-color: var(--basic-contrast);
  // }

  // &--contrast {
  //   background-color: var(--font-light);
  // }
}

.promo__description {
  margin: 0;
  margin-bottom: 35px;

  font-size: 22px;

  z-index: 1;

  &--dark {
    color: var(--font-light);
  }

  &--grey,
  &--blue {
    color: var(--font-dark);
  }

  @media (max-width: $max-tablet-width) {
    margin-bottom: 35px;
    
    font-size: 18px;
  }

  @media (max-width: $max-mobile-width) {
    margin-bottom: 26px;
    padding-right: 80px;
    
    font-size: 16px;
  }
}

.promo__link {
  width: max-content;
  height: max-content;

  padding-top: 18px;
  padding-right: 36px;
  padding-bottom: 19px;
  padding-left: 36px;

  text-decoration: none;

  z-index: 1;

  &--dark {
    @include button-basic-style;
  }

  &--grey,
  &--blue {
    @include button-contrast-style;
  }

  @media (max-width: $max-tablet-width) {
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 16px;
    padding-left: 30px;
  }

  @media (max-width: $max-mobile-width) {
    padding-top: 14px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 30px;
  }
}

.promo__dots {
  margin-left: -168px;

  @media (max-width: $max-tablet-width) {
    margin-left: -41px;
  }

  @media (max-width: $max-mobile-width) {
    margin-left: 0px;
  }
}