.promo {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 400px;

  @include container;

  margin-bottom: 66px;

  padding-top: 115px;
  padding-left: 268px;
  padding-bottom: 40px;

  @media (max-width: $max-tablet-width) {
    min-height: 300px;

    padding-top: 76px;
    padding-left: 86px;
    padding-bottom: 15px;
  }

  @media (max-width: $max-mobile-width) {
    min-height: 226px;

    padding-top: 48px;
    padding-left: 15px;
    padding-bottom: 10px;
  }
}

.promo__container {
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: flex-start;
}

.promo__header {
  margin: 0;
  margin-bottom: 25px;

  font-size: 54px;
  font-weight: 700;

  z-index: 1;

  &--basic {
    color: var(--basic);
  }

  &--contrast {
    color: var(--font-basic);
  }

  @media (max-width: $max-tablet-width)  {
    margin-bottom: 20px;

    font-size: 46px;
  }

  @media (max-width: $max-mobile-width) {
    font-size: 38px;
  }
}

.promo__image {
  position: absolute;

  top: 0;
  left: 0;

  &--basic {
    background-color: var(--basic-contrast);
  }

  &--contrast {
    background-color: var(--font-light);
  }
}

.promo__description {
  margin: 0;
  margin-bottom: 40px;

  font-size: 22px;

  z-index: 1;

  &--basic {
    color: var(--font-light);
  }

  &--contrast {
    color: var(--font-dark);
  }

  @media (max-width: $max-tablet-width) {
    margin-bottom: 35px;
    
    font-size: 18px;
  }

  @media (max-width: $max-mobile-width) {
    margin-bottom: 30px;
    padding-right: 135px;
    
    font-size: 16px;
  }
}

.promo__link {
  width: max-content;
  height: max-content;

  padding-top: 19px;
  padding-right: 36px;
  padding-bottom: 21px;
  padding-left: 36px;

  text-decoration: none;

  z-index: 1;

  &--basic {
    @include button-basic-style;
  }

  &--contrast {
    @include button-contrast-style;
  }

  @media (max-width: $max-tablet-width) {
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 16px;
    padding-left: 30px;
  }


  @media (max-width: $max-mobile-width) {
    padding-top: 14px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 30px;
  }
}