.service-details {
  display: grid;

  grid-template-areas: 
    "heading image"
    "points image"
    "description image"
    "link image";
  
  grid-template-columns: 1fr max-content;

  row-gap: 40px;
  column-gap: 133px;

  padding-top: 60px;
  padding-right: 135px;
  padding-bottom: 60px;
  padding-left: 70px;

  font-size: 18px;

  background-color: var(--basic);
}

.service-details__heading {
  grid-area: heading;

  margin: 0;

  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
}

.service-details__points {
  grid-area: points;
  display: flex;
  flex-direction: column;

  @include no-style-list;
}

.service-details__point {
  position: relative;
  padding-left: 21px;

  line-height: 23px;

  &:not(:last-child) {
    margin-bottom: 25px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;

    width: 17px;
    height: 12px;

    background-image: url("../../img/tick-icon-desktop-tablet.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.service-details__desciption {
  grid-area: description
}

.service-details__link {
  grid-area: link;

  justify-self: start;

  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;

  text-decoration: none;

  @include button-contrast-style;
}

.service-details__image {
  grid-area: image;
}