.services-tabs {
  display: flex;
  justify-content: space-between;

  @include no-style-list;
}

.services-tabs__tab {
  position: relative;

  padding-top: 40px;
  // padding-right: 80px;
  padding-bottom: 40px;
  padding-left: 112px;

  width: 292px;

  font-size: 18px;
  font-weight: 500;
  text-align: left;

  background-repeat: no-repeat;
  background-position: 68px 33px;

  cursor: pointer;

  @include opacity-on-hover;

  &--deposits {
    background-image: url("../../img/deposit-icon.svg");
  }

  &--loans {
    background-image: url("../../img/loan-icon.svg");
  }

  &--insurance {
    background-image: url("../../img/insurance-icon.svg");
    background-position: 70px 33px;
  }

  &--online {
    background-image: url("../../img/online-icon.svg");
    background-position: 77px 33px;
  }

  &--active {
    background-color: var(--basic);
  }
}