.service-details {
  display: grid;
  grid-template-areas: 
    "heading image"
    "points image"
    "description image"
    "link image";
  grid-template-columns: 1fr max-content;
  column-gap: 133px;

  padding-top: 54px;
  padding-right: 135px;
  padding-bottom: 60px;
  padding-left: 70px;

  font-size: 18px;

  background-color: var(--basic);

  @media (max-width: $max-tablet-width) {
    column-gap: 38px;

    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  @media (max-width: $max-mobile-width) {
    column-gap: 0;
    
    margin-bottom: 21px;
    padding-top: 55px;

    grid-template-areas: 
    "heading heading"
    "points image"
    "description image"
    "link link";
  }
}

.service-details__heading {
  grid-area: heading;

  margin: 0;
  margin-bottom: 29px;

  font-size: 22px;
  line-height: 30px;
  font-weight: 500;

  @media (max-width: $max-tablet-width) {
    margin-bottom: 25px;
    padding-right: 20px;

    font-size: 18px;
    line-height: 25px;
  }

  @media (max-width: $max-mobile-width) {
    margin-bottom: 20px;
    padding-right: 0;

    font-size: 16px;
    line-height: 22px;
  }
}

.service-details__points {
  grid-area: points;
  display: flex;
  flex-direction: column;

  @include no-style-list;

  margin-bottom: 34px;

  @media (max-width: $max-tablet-width) {
    margin-bottom: 31px;
  }

  @media (max-width: $max-mobile-width) {
    margin-bottom: 26px;
    padding-right: 31px;
  }
}

.service-details__point {
  position: relative;
  padding-left: 21px;

  line-height: 23px;

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  @media (max-width: $max-tablet-width) {
    font-size: 16px;
    line-height: 20px;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  @media (max-width: $max-mobile-width) {
    margin-right: -11px;
    padding-left: 17px;

    font-size: 14px;
    line-height: 18px;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;

    width: 17px;
    height: 12px;

    background-image: url("../../img/tick-icon-desktop-tablet.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.service-details__description {
  grid-area: description;

  margin: 0;
  margin-bottom: 40px;

  font-size: 18px;
  line-height: 25px;

  @media (max-width: $max-tablet-width) {
    margin-bottom: 25px;

    font-size: 16px;
    line-height: 22px;
  }
}

.service-details__link {
  grid-area: link;

  justify-self: start;

  padding-top: 17px;
  padding-right: 30px;
  padding-bottom: 16px;
  padding-left: 30px;

  text-decoration: none;
  text-align: center;

  @include button-contrast-style;

  font-size: 16px;
  font-weight: 500;

  @media (max-width: $max-tablet-width) {
    margin-bottom: 25px;
    padding-top: 15px;
    padding-bottom: 15px;

    font-size: 16px;
    line-height: 18px;
  }

  @media (max-width: $max-mobile-width) {
    justify-self: stretch;

    font-size: 14px;
    line-height: 16px;

    padding-top: 12px;
    padding-bottom: 13px;
  }
}

.service-details__image-wrapper {
  grid-area: image;

  @media (max-width: $max-mobile-width) {
    // position: absolute;
    // top: 96px;
    // right: 0;

    margin-top: -16px;
    margin-right: -16px;

    width: 87px;
    height: 113px;
  }
}

.service-details__image {
  @media (max-width: $max-tablet-width) {
    width: 289px;
  }

  @media (max-width: $max-mobile-width) {
    width: 87px;
  }
}