.services {
  @include container;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-bottom: 97px;

  @media (max-width: $max-tablet-width) {
    min-height: 380px;
    margin-bottom: 80px;
    padding-bottom: 15px;

    background-color: var(--basic);
  }

  @media (max-width: $max-mobile-width) {
    position: relative;

    min-height: 362px;
    margin-bottom: 60px;
  }
}