.social__list {
  display: flex;

  width: 102px;

  @include no-style-list;

  @media (max-width: $max-tablet-width) {
    margin-left: -11px;
  }
}

.social__item {
  margin-right: 15px;

  @media (max-width: $max-tablet-width) {
    margin-right: 20px;
  }
}

.social__link {
  @include opacity-on-hover;
}