.user-login {
  position: relative;

  justify-self: flex-end;

  padding-left: 30px;

  @media (max-width: $max-mobile-width) {
    position: absolute;
    bottom: 26px;
    right: 3px;
  }

  // &::before {
  //   content: "";
  //   position: absolute;
  //   bottom: 0px;
  //   right: 185px;

  //   width: 20px;
  //   height: 22px;

  //   background-image: url("../../img/login-desktop.svg");

  //   @media (max-width: $max-tablet-width) {
  //     right: 15px;
  //     bottom: -4px;

  //     background-image: url("../../img/login-tablet.svg");
  //   }

  //   @media (max-width: $max-mobile-width) {
  //     left: 7px;
  //     bottom: 25px;

  //     width: 14px;
  //     height: 16px;
  
  //     background-image: url("../../img/login-mobile.svg");
  //   }
  // }

  &--open-menu {
    position: relative;

    bottom: 0;
    // margin-top: -44px;

    padding-top: 25px;
    padding-bottom: 24px;

    font-size: 16px;

    border-bottom: 1px solid var(--basic-decorative);

    ::before {
      top: 0;
      left: 0;
    }

    ::after {
      content:"";

      position:fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      background-color: var(--basic);

      z-index: -1;
    }
  }
}

.user-login__text {
  color: var(--font-basic);

  @include opacity-on-hover;
}

.user-login__button {
  @include no-style-button;

  &::before {
    content: "";
    position: absolute;
    bottom: 0px;
    right: 185px;

    width: 20px;
    height: 22px;

    background-image: url("../../img/login-desktop.svg");

    @media (max-width: $max-tablet-width) {
      right: 15px;
      bottom: -4px;

      background-image: url("../../img/login-tablet.svg");
    }

    @media (max-width: $max-mobile-width) {
      left: 7px;
      top: 25px;

      width: 14px;
      height: 16px;
  
      background-image: url("../../img/login-mobile.svg");
    }
  }
}