.user-login {
  position: relative;

  padding-left: 30px;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    bottom: 0px;
    right: 180px;

    width: 20px;
    height: 22px;

    background-image: url("../../img/login-desktop.svg");

    @media (max-width: $max-tablet-width) {
      right: 15px;
      bottom: -4px;
    }
  }
}

.user-login__text {
  color: var(--font-basic);

  @include opacity-on-hover;

  @media (max-width: $max-tablet-width) {
    display: none;
  }
  
  // &::before {
  //   content: "";
  //   position: absolute;
  //   bottom: 0px;
  //   right: 180px;

  //   width: 20px;
  //   height: 22px;

  //   background-image: url("../../img/login-desktop.svg");
  // }
}